.main-nav{
  background-color: aquamarine;
  padding: 20px;
  color: blueviolet;
}

.main-nav a{
  margin-right: 20px;
  text-decoration: none;
}
.main-nav .active{
  font-weight: bold;
  font-size: 20px;
}